* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e3eb;
}

.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  padding: 10px 20px 20px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  color: #000e1a;
}

.display {
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 25px;
  outline: none;
  border: none;
  pointer-events: none;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  button {
    padding: 12px 10px;
    border: none;
    border-radius: 6px;
    background-color: #eee;
    font-size: 20px;
    cursor: pointer;

    &:active {
      transform: scale(0.99);
    }
  }
}

.operator {
  color: #756af5;
}
